body {
  background-color:#f9edff;
  text-align: center;
  color: white;
}


#myCanvas {
  background-image: url("https://img.freepik.com/premium-photo/pretty-background-images-background_1179130-831490.jpg?w=360");
  background-size: 400px;
  border-radius: 30px;
  border: 4px dotted rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}
#TheDiv {
    display: inline-block;
    width: 500px;
    border-radius: 30px;
    border: 7px dotted rgb(251,198,207);
    text-align: center;
}

ol {font-size: 25px;}
h1 {font-size:100px;}
h2 {font-size:40px}


